{% extends "base_generic.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
            {% comment %} It feels silly to have to use a for loop for one model. Maybe thats a limitation 
            of Django or maybe there's a more efficient way to do it given that there should
            only ever be one about page. I just wanted to be able to edit the content from the admin
            page  {% endcomment %}
            <div class="about">
                {% load static %}
                {% for about in content %}
                    <img src="{{ about.prof_pic.picture.url }}" alt="{{ about.prof_pic.alt_text }}">
                    <p>{{ about.body }}</p>
                {% endfor %}
            </div>
            
            
{% endblock %}