{% block socialButtons %}
    <div class="social-buttons">
            <div class="social linkedin">
                <div alt="f208" class="genericon genericon-linkedin-alt">
                    <a href="https://www.linkedin.com/in/bryan-murphy-664020a0" target="_blank"></a>
                </div>
            </div>
            <div class="social instagram">
                <div alt="f200" class="genericon genericon-github">
                    <a href="https://www.instagram.com/thecrimsonnchin/" target="_blank"></a>
                </div>
            </div>
            <div class="social github">
                <div alt="f215" class="genericon genericon-instagram">
                    <a href="https://github.com/murphyb2" target="_blank"></a>
                </div>
            </div>
        </div> 
{% endblock %}